.about-us {
    background-color: #fff;
    padding-bottom: 7%;
    
    .row {
        background: url('../img/quality-food.jpg') no-repeat;
        height: 400px;
        background-size: contain;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;
        
        .col {
            position: relative;
            margin-top: -30px;
        }
    
        .about-us__image {
            width: 275px;
            border: 25px solid transparent;
            border-image: url('../img/frame.jpg');
            border-image-slice:  2;
            border-image-repeat: round;
        }
        
        .about-us__text {
            position: absolute;
            top: 35px;
            right: 0;
            font-family: 'Storytella';
            font-size: 100px;
            line-height: 100px;
            
            @media only screen and (max-width: 1300px) {
                font-size: 80px;
                line-height: 80px;
            }
            @media only screen and (max-width: 700px) {
                font-size: 60px;
                line-height: 60px;
            }
            @media only screen and (max-width: 400px) {
                font-size: 50px;
                line-height: 50px;
            }
        }
    }
}