.blog {
    padding: 7% 0;
    
    .blog__item-wrapper {
        display: block;
        margin-bottom: 20px;
        width: 100%;
        height: 397px;
        position: relative;
        overflow: hidden;
        
        
        
        img {
            display: block;
            width: 100%;
            height: 397px;
            object-fit: cover;
        }
        
        &:hover img {
            animation: tada 1s;
        }

        .blog__item-info {
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            background-color: rgba(11, 11, 11, .5);
            
            .blog__item-date {
                position: absolute;
                top: 0;
                left: 30px;
                padding: 15px;
                background-color: #fde557;
                font-family: 'Gilroy-ExtraBold';
                font-size: 25px;
                line-height: 18px;
                color: #333;
                text-align: center;
            
            
                .blog__item-month {
                    font-family: 'RalewayBold';
                    font-size: 12px;
                    color: #9a8841;
                }
            }
            
            .blog__item-bottom {
                position: absolute;
                bottom: 25px;
                left: 30px;
                
                .blog__item-tag {
                    margin-bottom: 10px;
                    font-family: 'OpenSansRegular';
                    font-size: 12px;
                    line-height: 1.2;
                    text-transform: uppercase;
                    color: #ddc051;
                
                }
            
                .blog__item-title {

                    font-family: 'RalewayBold';
                    font-size: 18px;
                    line-height: 1.2;
                    color: #fff;
                }
            }

        }
    }
}