#catalogue {
    margin: 5.25% 0;
    
    .row {
        margin-top: 9%;
        border-bottom: 2px solid #ededed;
    }
    
    .reverse .col-md-5 {
        @media only screen and (min-width: 768px) {
            order: -1;
        }
    }
    
    .image-col img {
        width: 100%;
        height: auto;
        max-height: 365px;
        object-fit: contain;
        filter: saturate(0%);
    }
    
    .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        margin-bottom: 20px;
        
        h3 {
            margin: 0;
            font-family: 'PTSerifBold';
            font-size: 30px;
        }
        
        p {
            margin: 0;
            font-family: 'PTSerif';
            font-size: 16px;
        }
        
        .product-features {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            
            .feature {
                width: 50%;
                display:flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                
                .feature-name {
                    width: 30%;
                    font-family: 'PTSerifBold';
                    font-size: 14px;
                }
                
                .feature-value {
                    width: 60%;
                    font-family: 'PTSerif';
                    font-size: 35px;
                    
                    @media only screen and (min-width: 768px) and (max-width: 992px){
                        font-size: 25px;
                    }
                }
            }
        }
        
        .buy-button {
            font-family: 'PTSerif';
            background-color: #dddddd;
                
                &:hover, &:active {
                    background-color: #f6f6f6;
                }
            
        }
    }
}