@font-face {
    font-family: ChristmasScriptC; 
    src: url("../fonts/christmasscriptc.woff2") format("woff2"),
        url("../fonts/christmasscriptc.woff") format("woff");
    font-weight: regular; 
}

@font-face {
    font-family: Lora; 
    src: url("../fonts/Lora.woff2") format("woff2"),
        url("../fonts/Lora.woff") format("woff");
    font-weight: regular; 
}

@font-face {
    font-family: LoraBold; 
    src: url("../fonts/Lorabold.woff2") format("woff2"),
        url("../fonts/Lorabold.woff") format("woff");
    font-weight: bold; 
}

@font-face {
    font-family: PTSerif; 
    src: url("../fonts/ptserif.woff2") format("woff2"),
        url("../fonts/ptserif.woff") format("woff");
    font-weight: regular; 
}

@font-face {
    font-family: PTSerifBold; 
    src: url("../fonts/ptserifbold.woff2") format("woff2"),
        url("../fonts/ptserifbold.woff") format("woff");
    font-weight: bold; 
}

