footer {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #2e2e2e;
    display: flex;
    flex-wrap:wrap;
    
    @media only screen and (max-width: 992px) {
        height: auto;
    }
    
    .row {
        margin-bottom: 0;
    }
    
    .col {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5% .75rem 0 !important;
        
        &:last-child {
            border-top: 1px solid #414141;
            padding-top: 30px !important;
            padding-bottom: 30px !important;
            margin-top: 5%;
        }

        
        .footer-logo {
            background: url('../img/logo.png') no-repeat;
            width: 100px;
            height: 132px;
        }
        
        .footer-nav {
            width: 60%;
            display: flex;
            justify-content: flex-start;
            
            ul {
                margin: 0;
                
                &:first-child {
                    margin-right: 20%;
                }
                
                li {
                    
                    a {
                        font-family: 'OpenSansRegular';
                        font-size: 14px;
                        line-height: 30px;
                        color: #aaa;
                        
                        &.active {
                            color: #fff;
                            border-bottom: 1px solid #fde557;
                        }
                        
                    }
                }
            }
        }
        
        .footer-contact {
            .contact-type {
                margin-bottom: 10px;
                font-family: 'RalewayBold';
                font-size: 12px;
                line-height: 25px;
                text-transform: uppercase;
                color: #fde557;
            }
            
            .contact-item {
                font-family: 'OpenSansRegular';
                font-size: 14px;
                line-height: 23px;
                color: #c4c4c4;
                
                a {
                    color: #fff;
                }
            }
        }
        
        .footer-social {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            
            a {
                display: block;
                margin-right: 10px;
                width: 30px;
                height: 30px;
                color: #4f4f4f;
                text-align: center;
                
                &:hover {
                    color: #fde557;
                }
            }
        }
        
        .footer-bottom-info {
            font-family: 'OpenSansRegular';
            font-size:13px;
            line-height: 15px;
            color: #7e7e7e;
            
            a {
                color: #7e7e7e;
            }
        }
    }

    
    .yandexmap {
        width: 40%;
        position: absolute;
        right: 0;
        bottom: 0;
        
        @media only screen and (max-width: 992px) {
            width: 100%;
            position: relative;
            order: -1;
        }
        
        #map {
            width: 100%;
            height: 500px;
            padding: 0;
            margin: 0;
        }
    }
}


