body {
    margin: 0;
}

.button {
    display: block;
    text-align: center;
    width: 226px;
    padding: 10px 0;
    color: black;
    font-size: 22px;
    text-decoration: none;
    border: 1px solid #d6d6d6;
    cursor: pointer;
}

.section_title {
    margin-bottom: 5.4%;
    margin-top: 0;
    text-align: center;
    font-family: 'PTSerifBold';
    font-size: 36px;
}

$icons: (
  1: 'weapons',
  2: 'target',
  3: 'shield',
  4: 'draw'
);

$review_indicators: (
  'greek': 'greek',
  'cross': 'cross',
  'fashion': 'fashion'
);